<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>

<body>
    <h1> Join us! </h1> <br>

    <form action="/join" method="POST">
        아이디 : <input type="text" name="id"> <br>
        비밀번호 : <input type="password" name="pw"> <br>
        이름 : <input type="text" name="name"> <br>
        성별 : 남자<input type="radio" name="gender" value="male">
        여자<input type="radio" name="gender" value="female"> <br>
        <input type="submit" value="JOIN">
    </form>
</body>

</html>